In [2]:
import pandas as pd
import numpy as np
import plotly.express as px

pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 120)

In [3]:
path = "data/crime.csv"
df = pd.read_csv(path)
df.head()

,Unnamed: 0,ID,Date,Time,Code,Offense,Status,Type,Boro,Premises,Latitude,Longitude,Year,Month,Hour,Population,Year_Month,Year_Month_New
0,1,576549509,2006-03-10,14:30:00,113,FORGERY,COMPLETED,FELONY,BROOKLYN,Street,40.662003,-73.919587,2006,Mar,14:00,2465690,2006_Mar,2006-03
1,2,951737983,2012-12-19,10:00:00,344,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,STATEN ISLAND,Residence,40.571118,-74.090068,2012,Dec,10:00,471000,2012_Dec,2012-12
2,3,119584434,2011-10-14,14:20:00,126,MISCELLANEOUS PENAL LAW,COMPLETED,FELONY,MANHATTAN,Residence,40.799665,-73.947200,2011,Oct,14:00,1595517,2011_Oct,2011-10
3,4,422508123,2009-07-31,11:50:00,109,GRAND LARCENY,ATTEMPTED,FELONY,QUEENS,Public Venue,40.764801,-73.771613,2009,Jul,11:00,2230000,2009_Jul,2009-07
4,5,451549745,2006-01-23,17:45:00,341,PETIT LARCENY,COMPLETED,MISDEMEANOR,MANHATTAN,Transportation,40.773650,-73.959857,2006,Jan,17:00,1566766,2006_Jan,2006-01

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95593 entries, 0 to 95592
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      95593 non-null  int64
 1   ID              95593 non-null  int64
 2   Date            95593 non-null  object
 3   Time            95593 non-null  object
 4   Code            95593 non-null  int64
 5   Offense         95265 non-null  object
 6   Status          95593 non-null  object
 7   Type            95593 non-null  object
 8   Boro            95593 non-null  object
 9   Premises        95593 non-null  object
 10  Latitude        95593 non-null  float64
 11  Longitude       95593 non-null  float64
 12  Year            95593 non-null  int64
 13  Month           95593 non-null  object
 14  Hour            95593 non-null  object
 15  Population      95593 non-null  int64
 16  Year_Month      95593 non-null  object
 17  Year_Month_New  95593 non-null  object
dtypes: float64(2), int64(5), object(11)
memory usage: 13.1+ MB